body{
    background-image: url("Images/login bg.jpg");
    background-size:100%; 
}
.container{
    padding-left:600px;
    padding-top:80px;
}
h2{
    color:brown;
    padding-left: 23px;;
}
label{
    color:brown;
    font-size:17px;
}
.signup{
    text-decoration:none;
    background-color:brown;
    color:white;
    font-size:16px;
    padding:3px 55px;
}
.login{
    text-decoration: none;
    color:white;
}
.gender{
    color:brown;
}
p{
    color:brown;
}